/* 
* BOOKMARK block and children: content, actions
*/

.bookmark {
  display: flex;

  padding: 10px;

  border-radius: 3px;

  word-break: break-word;
}

.bookmark--light {
  background-color: #fefefe;
  color: #4a5568;
}

.bookmark--dark {
  background-color: rgb(39 40 42);
  color: #cbd5e0;
}

/*
* CONTENT
*/

  .bookmark__content {
    display: flex;
    flex-direction: column;

    margin-left: 5px;
  }

/*
* ACTIONS
*/

  .bookmark__actions {
    margin-left: auto;
    display: flex;
  }
