/* 
* BOOKMARK
*/

.bookmark {
  display: flex;
  justify-content: space-between;

  padding: 10px;

  border-radius: 3px;

  word-break: break-word;
}

.bookmark--light {
  background-color: #fefefe;
}

.bookmark--dark {
  background-color: rgb(39 40 42);
}

/*
* CONTENT
*/

.content {
  display: flex;
  flex-direction: column;
}
