body {
  height: 500px;
  width: 500px;
}

/*
** MAIN
*/

.main {
  height: 500px;
  width: 500px;
  color: #fff;
}

.main--dark {
  background-color: #282c34;
  color: #fff;
}

.main--light {
  background-color: #fff;
  color: #000;
}

/* MAIN-END  */
